# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Documentation
docs/_build

# PyCharm
.idea

# VSCode
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Docker
Dockerfile
docker-compose.yml
.dockerignore
